
.form {
    min-width: 150px;
    width: 100%;
}

.full-width, .mat-select {
    width: 100%;
}

.mat-select {
    margin-bottom: 10px;
}

.mat-checkbox label {
    margin: 15px 0;
}

.checkbox-wrapper {
    padding: 10px 0; text-align: left;
}

.mat-error {
    padding-top: 2px;
    color: red;
}
.mat-card-title {
    padding-top: 20px;
}