<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/']">E34</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a [routerLink]="['/']">Home</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">FAQ</a></li>
      <li><a [routerLink]="['/login']">Log In</a></li>
      <li><a [routerLink]="['/register']">Register</a></li>
      <app-nested-navbar-categories-v1></app-nested-navbar-categories-v1>
    </ul>
  </div>
</nav>