<!--<form #filterForm>-->

  <!--&lt;!&ndash;Search&ndash;&gt;-->
  <!--<div>-->
    <!--<input type="text" name="search" [(ngModel)]="searchWord">-->
    <!--<input type="button" (click)="search()" value="Search">-->
  <!--</div>-->


  <!--Sort By-->
  <!--<div>-->
    <!--<select name="order" >-->
      <!--<option value="">Popular First</option>-->
      <!--<option value="">New Stores</option>-->
      <!--<option value="">Most Sales</option>-->
      <!--<option value="">User Rating</option>-->
    <!--</select>-->
  <!--</div>-->




  <!--&lt;!&ndash;Category Filter&ndash;&gt;-->
  <!--<ul class="">-->
    <!--<li *ngFor="let category of categories" class="">-->
      <!--<input type="checkbox" name="category">-->
      <!--{{category.categoryName}}-->
    <!--</li>-->
  <!--</ul>-->
<!--</form>-->

